<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap8="http://schemas.microsoft.com/appx/manifest/uap/windows10/8"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="3b9bd2bc-4117-4a95-9c0c-b7e6e7cd89fc"
    Publisher="CN=austin"
    Version="1.0.0.0" />
  <Properties>
    <DisplayName>TaskBoardWidget</DisplayName>
    <PublisherDisplayName>austin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="TaskBoardWidget"
        Description="TaskBoardWidget"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

  <!-- Déclaration du widget -->
  <Extensions>
    <uap8:Extension Category="windows.widgets">
      <uap8:Widget
        EntryPoint="TaskBoardWidget.Widget.WidgetProvider"
        Tag="taskboard-widget"
        DisplayName="TaskBoard"
        UpdateFrequency="30">
        <uap8:SupportedSizes>
          <uap8:Size>Medium</uap8:Size>
          <uap8:Size>Wide</uap8:Size>
        </uap8:SupportedSizes>
      </uap8:Widget>
    </uap8:Extension>
  </Extensions>
</Package>
